@tailwind base;
@tailwind components;
@tailwind utilities;
.bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }
  .card{
    backdrop-filter: blur(30px); 
    
  }

  .card2{
    backdrop-filter: blur(70px); 
    
  }